.app {
	display: flex;
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 67%;

	h1 {
		margin-left: 40px;
		color: mediumseagreen;
	}
}

.list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.listItem {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	width: 500px;
	border: 1px solid mediumseagreen;

	.itemName {
		margin-bottom: 15px;
	}

	.itemPosition {
		font-size: 14px;
		font-style: italic;
	}
}

.button {
	padding: 8px 5px;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 100px;
	color: #fff;
	background-color: mediumseagreen;
	cursor: pointer;

	&.button-edit {
		position: absolute;
		top: 0px;
		right: 80px;
	}

	&.button-remove {
		padding: 6px 0px;
		background: transparent;
		border: 1px solid mediumseagreen;
		color: mediumseagreen;
	}

	&.button-add {
		display: flex;
		align-self: flex-end;
		padding: 6px 0px;
		justify-content: center;
		background: #fff;
		border: 1px solid #fff;
		color: mediumseagreen;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 30%;
	background-color: mediumseagreen;
	padding: 15px;

	&:before {
		display: block;
		content: '';
		width: 1px;
		height: 100%;
		background: mediumseagreen;
		position: absolute;
		left: -40px;
		margin-top: -15px;
	}
}

.menuList {
	display: flex;
	flex-direction: column;
}

.menuItem {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	width: 330px;

	label {
		display: flex;
		flex-direction: column;
	}

	textarea {
		resize: none;
		margin: 8px 0 10px;
	}
}
